:root {
    --cor-primaria:#FFFEF1;
    --cor-secundaria:#8C4837;
    --cor-tercearia:#B3877C;
    --font-padrao:cursive;
}

body {
    box-sizing: border-box;
    background-image: url(../assets/img_fundo_patinhas.jpg);
}

section {
    border-left:10px var(--cor-secundaria) solid;
    border-right: 10px var(--cor-secundaria) solid;
    margin: 0 auto;
    box-sizing: content-box;
    width: 550px;
    height: 100vh;
    background: var(--cor-primaria)
}

.cabecalho {
    margin: 0 0 10px 0;
    box-sizing: border-box;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho__imagem {
    width: 300px;
}

.cabecalho__titulo {
    margin: 10px 0 10px 0;
    font-family: var(--font-padrao);
    font-size: 25px;
    font-weight: bold;
    color: var(--cor-secundaria);
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
}

.formulario__item {
    width: 100%;
    margin: 5px 0;
    font-family: var(--font-padrao);
    color: var(--cor-secundaria);
    font-weight: bold;
}

.formulario__campo {
    box-sizing: border-box;
    margin: 2px 0;
    width: 100%;
    font-size: 15px;
}

.formulario__campo__descricao {
    box-sizing: border-box;
    margin: 2px 0;
    width: 100%;
    height: 150px;
    text-align: justify;
    font-size: 15px;
}

.form-submit-button {
    font-family: var(--font-padrao);
    font-size: 20px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
}

.form-submit-button:hover {
    background-color: var(--cor-tercearia);
}